# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/configure
/config.h.in
/aclocal.m4
/Makefile.in
/depcomp
/install-sh
/missing
/Makefile
/config.h
/config.log
/config.status


autom4te.cache/
src/.deps/
/src/.dirstamp
/stamp-h1
/config.h.in~
/TAGS
/compile
.deps/

*.dirstamp
/libtool
/ltmain.sh
/ylwrap
/config.guess
/config.sub
*.lo
lib/
snippet/
.libs/
*.la
*.pc
/test/Makefile
/test/Makefile.in
/test/check_libcrypti2c
/ar-lib
/config.rpath
/test/TAGS
/test/check_libcryptoauth
/test/csu
/test/check_libcryptoauth.trs
/test-driver
/cov-int/
/*.tar.gz
/*.tgz
/test/burnutil
/test/payload.bin
/test/ecdh
/announce-gen
/test/ecc
/test/ecc.log
/test/ecc.trs
/test/hmac
/test/hmac.log
/test/hmac.trs
/test/hmac_result.log
/test/test-suite.log
/test/test_result.log
/test/hkdf
/test/hkdf.log
/test/hkdf.trs
/test/hkdf_result.log
/test/util
/test/util.log
'
/test/util.trs
/test/util_result.log
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/src/guile/Makefile
/src/guile/Makefile.in
/src/guile/TAGS
/src/aes/Makefile
/src/aes/Makefile.in
/test/basic
/test/basic.log
/test/basic.trs
/test/aes
/test/aes.log
/test/aes.trs
